<div id="<%= dom_id user %>" class="space-y-4">
  <div class="flex items-center gap-2">
    <span class="text-gray-700 font-bold">
      <%= User.human_attribute_name(:email) %>:
    </span>
    <span class="text-gray-800">
      <%= user.email %>
    </span>
  </div>

  <div class="flex items-center gap-2">
    <span class="text-gray-700 font-bold">
      <%= User.human_attribute_name(:name) %>:
    </span>
    <span class="text-gray-800">
      <%= user.name %>
    </span>
  </div>

  <div class="flex items-center gap-2">
    <span class="text-gray-700 font-bold">
      <%= User.human_attribute_name(:phone_number) %>:
    </span>
    <span class="text-gray-800">
      <%= user.phone_number %>
    </span>
  </div>

  <div class="flex items-center gap-2">
    <span class="text-gray-700 font-bold">
      <%= User.human_attribute_name(:postal_code) %>:
    </span>
    <span class="text-gray-800">
      <%= user.postal_code %>
    </span>
  </div>

  <div class="flex items-center gap-2">
    <span class="text-gray-700 font-bold">
      <%= User.human_attribute_name(:address) %>:
    </span>
    <span class="text-gray-800">
      <%= user.address %>
    </span>
  </div>

  <div class="flex flex-col gap-2">
    <span class="text-gray-700 font-bold">
      <%= User.human_attribute_name(:self_introduction) %>:
    </span>
    <span class="text-gray-800">
      <%= format_content(user.self_introduction) %>
    </span>
  </div>
</div>
