<div class="comments-container">
  <strong><%= Comment.model_name.human %></strong>
  <% if (comments = commentable.comments.order(:id).includes(:user).presence) %>
    <ul>
      <% comments.each do |comment| %>
        <li>
          <div class="comment-content">
            <%= comment.content %>
          </div>
          <div class="comment-meta">
            <%= link_to current_user_name(comment.user), comment.user %>
            <span><%= l comment.created_at, format: :short %></span>
            <% if comment.user == current_user %>
              <%= button_to t('.delete'), [comment], 
                  method: :delete, 
                  class: 'comment-delete-button',
                  data: { turbo_confirm: t('views.common.delete_confirm') } %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="no-comments">
      <%= t('.no_comments') %>
    </div>
  <% end %>
  
  <%= form_with model: [commentable, commentable.comments.new], 
      local: true, 
      class: 'comment-form' do |f| %>
    <%= f.text_field :content, 
        required: true, 
        placeholder: t('.comment_placeholder') %>
    <%= f.submit t('.create'), class: 'button' %>
  <% end %>
</div>
