<h1><%= t('views.common.title_index', name: i18n_pluralize(Report.model_name.human)) %></h1>

<div class="search-panel-container">
  <button type="button" class="search-panel-toggle">
    <span class="toggle-icon">▶</span>
    <%= t('views.common.detailed_search') %>
  </button>

  <%= render 'search_panel' %>
</div>

<%= turbo_frame_tag "reports-results" do %>
  <div id="reports" class="index-items">
    <% @reports.each do |report| %>
      <div class="index-item">
        <%= render report %>
        <p>
          <%= link_to t('views.common.show', name: Report.model_name.human.downcase), 
          report,
          data: { turbo_frame: "_top" } %>
        </p>
      </div>
    <% end %>
  </div>

  <%= paginate @reports %>
<% end %>

<nav class="page-nav">
  <%= link_to t('views.common.new', name: Report.model_name.human.downcase), new_report_path %>
</nav>
